!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Magkita
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-gray-200
    .flex.justify-center.py-10
      .w-full.max-w-xs
        - flash.each do |key, value|
          .border-l-4.text-sm.font-bold.p-4.mb-2{role: "alert", class: "flash_#{key}"}
            %p=h value

        = yield
